.comment-item + .comment-item {
  margin-top: 20px;
}

.comment-item__wrapper {
  display: flex;
}

.comment-item__icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.comment-item__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.comment-item__name {
  margin-right: 30px;
}

.comment-item__date {
  color: gray;
  font-size: 14px;
}

.comment-item__text {
  margin-top: 10px;
}
