.post-card {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: -3px 6px 20px -11px #a6a6a6;
}

.post-card + .post-card {
  margin-top: 30px;
}

.post-card__head {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(233 233 233);
  border-radius: 10px 10px 0 0;
}

.post-card__favorite {
  margin-right: 20px;
}

.post-card__icon-wrapper {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.post-card__author-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.post-card__body {
  padding: 20px;
}

.post-card__title {
  font-size: 18px;
  font-weight: bold;
}

.post-card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post-card__text-wrapper {
  flex: 7;
  margin-right: 10px;
}

.post-card__text {
  line-height: 1.5;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.post-card__img-wrapper {
  max-width: 100%;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.post-card__img-wrapper img {
  height: 100%;
  object-fit: cover;
}

.post-card__meta {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #a6a6a6;
  padding-top: 10px;
}

.post-card__icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.post-card__favorite-text,
.post-card__comment-text {
  font-size: 12px;
  color: #333;
  margin-left: 3px;
}
